html {
    background-color: black;
    margin: 0px;
}

body {
    margin: 0px;
}
/* navbar */

.nav {
    text-align: center;
    color: white;
    /* background-color: black; */
    letter-spacing: 3px;
    padding-bottom: 5px;
}

.firstName {
    color:white;
    font: 50px "Avenir Next", Arial, sans-serif;
    text-decoration: none;
    border-color: 1px red;
}

.firstName:hover{
    color:yellow;

}

.lastName {
    font: 50px "Avenir Next", Arial, sans-serif;
}

/* middel image */

.rotater {
    position: relative;
    height: 600px;
    /* width: 100%; */
    background-color: paleturquoise;
    overflow: hidden;
}

.rotater img {
    position: absolute;
    left: 0px; top: 0px;
    width: 100%;
}

.active {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.animate{
    -webkit-transition: all 2000ms cubic-bezier(0.050, 0.840, 0.430, 1);
    -webkit-transition: all 2000ms cubic-bezier(0.050, 0.840, 0.430, 1.020);
    -moz-transition: all 2000ms cubic-bezier(0.050, 0.840, 0.430, 1.020);
    -o-transition: all 2000ms cubic-bezier(0.050, 0.840, 0.430, 1.020);
    transition: all 2000ms cubic-bezier(0.050, 0.840, 0.430, 1.020);





/* @keyframes rotater {
    from { opacity: .5; }
    to { opacity: 1; }
  }
.rotater {
    animation-name: rotater;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100%;
    background-image: url( ../images/hdspace9.jpg );
} */






/* animate copy */
/* .active{
    opacity:1;
}

.hide{
    opacity:0;
}

.animate{
    -webkit-transition: all 5500ms cubic-bezier(0.050, 0.840, 0.430, 1);
    -webkit-transition: all 5500ms cubic-bezier(0.050, 0.840, 0.430, 1.020);
    -moz-transition: all 5500ms cubic-bezier(0.050, 0.840, 0.430, 1.020);
    -o-transition: all 5500ms cubic-bezier(0.050, 0.840, 0.430, 1.020);
    transition: all 5500ms cubic-bezier(0.050, 0.840, 0.430, 1.020);
} */
